$main-bg: #998675;
$main-text: #8C8C8C;
$white: #ffffff;
$title-text: #555555;
$card-bg: #FBFAF8;
$card-hover-bg: #362F2D;
$card-title: #C7B299;
$card-subtutitle: #D1D1D1;
$tab-border: #F4F4F4;
$btn-border: #83756A;