doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@500;600;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.min.css")
        title Homework_6
    body
        .wrapper
            main.main
                .container
                    h1.main__title Our Latest Projects.
                    p.main__text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                    ul.tabs
                        li.tabs__item
                            a.tabs__link(href="#") All
                        li.tabs__item
                            a.tabs__link(href="#") Web Design
                        li.tabs__item
                            a.tabs__link(href="#") Mobile App
                        li.tabs__item
                            a.tabs__link(href="#") Illustration
                        li.tabs__item
                            a.tabs__link(href="#") Photography
                    .cards
                        .card
                            .card__wrapper
                                .card__visual(style="background-image: url(images/card-1.jpg)")
                                    a.card__link(href="#")
                                        img(src="images/link.png", alt="link icon")
                                    .card__search
                                        img(src="images/zoom.png", alt="zonn icon")
                                .card__text
                                    h2.card__title Claritas Etiam Processus
                                    .card__subtitle Photography, Nature
                        .card
                            .card__wrapper
                                .card__visual(style="background-image: url(images/card-2.jpg)")
                                    a.card__link(href="#")
                                        img(src="images/link.png", alt="link icon")
                                    .card__search
                                        img(src="images/zoom.png", alt="zonn icon")
                                .card__text
                                    h2.card__title Quam Nutamus Farum
                                    .card__subtitle Graphic Design, Mock-Up
                        .card
                            .card__wrapper
                                .card__visual(style="background-image: url(images/card-3.jpg)")
                                    a.card__link(href="#")
                                        img(src="images/link.png", alt="link icon")
                                    .card__search
                                        img(src="images/zoom.png", alt="zonn icon")
                                .card__text
                                    h2.card__title Usus Legentis Videntur
                                    .card__subtitle Photography, Holiday
                        .card
                            .card__wrapper
                                .card__visual(style="background-image: url(images/card-4.jpg)")
                                    a.card__link(href="#")
                                        img(src="images/link.png", alt="link icon")
                                    .card__search
                                        img(src="images/zoom.png", alt="zonn icon")
                                .card__text
                                    h2.card__title Claritas Etiam Processus
                                    .card__subtitle Photography, Nature
                        .card
                            .card__wrapper
                                .card__visual(style="background-image: url(images/card-5.jpg)")
                                    a.card__link(href="#")
                                        img(src="images/link.png", alt="link icon")
                                    .card__search
                                        img(src="images/zoom.png", alt="zonn icon")
                                .card__text
                                    h2.card__title Quam Nutamus Farum
                                    .card__subtitle Graphic Design, Mock-Up
                        .card
                            .card__wrapper
                                .card__visual(style="background-image: url(images/card-6.jpg)")
                                    a.card__link(href="#")
                                        img(src="images/link.png", alt="link icon")
                                    .card__search
                                        img(src="images/zoom.png", alt="zonn icon")
                                .card__text
                                    h2.card__title Usus Legentis Videntur
                                    .card__subtitle Photography, Holiday
                    button.main__btn Load More